---
import { Picture } from '@astrojs/image/components';

export interface Props {
  src: any;
  widths?: number[];
  sizes?: string;
}

const {
  src = '',
  widths = [200, 400, 800, 930],
  sizes = '(min-width: 1100px) 930px, 100w',
} = Astro.props as Props;
---

<div class="ImagePro">
  <Picture src={src} widths={widths} sizes={sizes} alt="image" />
</div>

<style lang="scss">
  .ImagePro {
    display: block;

    :global(img) {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 4px;
    }
  }
</style>
